* {
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
   } 

html {
    background-color: #1C1C1E;

}
body {
    margin: 0%;
}
/*Header - found a template online to create a smaller width for header*/
.header {
    width: 100%;
    max-width: 740px;
    margin: 5px auto 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px;

}
.header h1 {
    display: inline-block;
    font-size: 48px;
    font-weight: bold;
    color:#f2f2f2; 
}
.header nav {
    display: flex;
    gap: 8px;
    font-size: 35px;
}

/*Nav bar is now on the same header as header*/
.header ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.header li {
    display: inline;
    font-size: 18px;
    
}
.header li a {
    color:#f2f2f2;
    text-decoration: none;
    margin: 5px;
}


/*photo and about me section*/
#aboutme {
    color: white;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    border-bottom: 1px solid white;
    text-align: center;
    font-size: 24px;
}

.exciting-text::before{
    content: "SEE MY PROGRESS HERE:";
    color: #ffffff;
    font: Neue Haas Unica;
    font-size: 30px;
    font-weight: bold;
}

.myimage {
    border-radius: 50%;
    border-width: 8px;
    border-style: none;
    width: 300px;
    height: 300px;
    background-image: url(./images/Portfolio\ Image.png);
    background-position: 50% 50%;
    margin-left: auto;
    margin-right: auto;
    display: flex;   
    position: relative;
    
}
/*My projects objective section*/

.section-about-project {
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    color:white;
    font-size: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-bottom: 20px;
    background-color: #E3E3E1;
    color:#1C1C1C;
    list-style-type:none;
    padding: 20px;
}

.section-about-project h2 {
    margin: 10px;
}

/*contacts page*/
.aside {
  color: #333333;
  background-color: #f2f2f2;
  padding: 50px;
  width: 100%;
  justify-content: center;
  background-color:#5A5A5A;
  
}
.aside a {
    text-decoration: none;
    color:black;
}


.contacts {
    clear: both;
    float: left;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding: 20px;
    margin-left: 5px;
    justify-content: center;
}
aside {
   text-align: center;
}


/*projects section*/
.section-projects {
    display: flex;
    transition: all 0.5s ease-in-out;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }

.section-img {
    height: 90%;
    width: 90%;
    cursor: pointer;
    margin: 20px 20px;
    display: block;
    border-radius: 5px;

}

.section-projects-div {
    border: 1px solid #1d1d1d;
    margin: 20px;
    width: 400px;
    height: 300px;
    padding: 10px;
    box-shadow: 2px 1px 1px;
    border-radius: 5px;
}

.section-projects-header {
    border-radius: 5px;
    border: 1px solid white;
    margin-top: -25px;
    background-color: #5A5A5A;
    position: relative;
    color: white;
    margin-bottom: -15px;
    height: 50px;

}

footer {
    text-align: center;
    background-color:#5A5A5A;
    padding-bottom: 10px;
}
@media screen and (min-width = 992px){
    body {
        width: 100%;
    }
    .header {
        display: inline;
    }
} 

@media screen and (min-width = 764px){
    body {
        width: 100%;
    }
   
} 